[submodule "lib/Goliath"]
	path = lib/Goliath
	url = https://github.com/h311d1n3r/Goliath
[submodule "lib/argparse"]
	path = lib/argparse
	url = https://github.com/p-ranav/argparse
[submodule "lib/lief"]
	path = lib/lief
	url = https://github.com/lief-project/LIEF
